.version.about /* version checker */
{
	color: #0000ED;
	background-color: #0E2DDA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1498px;
	min-height: 428.9000000000008px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 9px 16px 62.09999999999923px 6px;
}

#u404
{
	z-index: 24;
	width: 193px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u379-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -264px;
}

#u390-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 48px;
	position: relative;
}

#u377
{
	z-index: 26;
	width: 226px;
	background-color: transparent;
	position: fixed;
	top: 114px;
	right: 232px;
}

#u393-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#pu409-4
{
	width: 0.01px;
	padding-bottom: 18px;
	margin-left: 1040px;
	margin-top: -18px;
}

#u409-4
{
	z-index: 36;
	position: fixed;
	top: 188px;
	right: 461px;
}

#u413-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 188px;
	right: 348px;
}

#u391-4
{
	z-index: 32;
	position: fixed;
	top: 188px;
	right: 235px;
}

#u383-4
{
	z-index: 40;
	position: fixed;
	top: 188px;
	right: 116px;
}

#u409-4_img,#u391-4_img,#u383-4_img
{
	display: block;
	vertical-align: top;
}

#u422-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 33px;
	position: relative;
}

#u401
{
	z-index: 6;
	width: 200px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 258px;
	right: 245px;
}

#u423-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u408-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 328px;
	right: 201px;
}

#u424-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 31px;
	position: relative;
}

#u386
{
	z-index: 15;
	width: 289px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 371px;
	right: 184px;
}

#u425-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u384-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 454px;
	right: 154px;
}

#u426-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 39px;
	position: relative;
}

#u427-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	position: relative;
}

#u394
{
	z-index: 25;
	width: 550px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 479px;
	margin-top: 249px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1520px;
}

#page .verticalspacer
{
	clear: both;
}

