.version.anti_bullying /* version checker */
{
	color: #0000E5;
	background-color: #F5FA50;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1520px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu440
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 6px;
}

#u440
{
	z-index: 16;
	width: 193px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u770
{
	z-index: 66;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 22px;
	position: relative;
}

#u464-30
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	margin-top: 21px;
	position: relative;
}

#pu772
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 20px;
}

#u772
{
	z-index: 67;
	width: 301px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u438
{
	z-index: 17;
	width: 550px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 353px;
}

#u434-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -264px;
}

#u432-4
{
	z-index: 28;
	position: fixed;
	top: 136px;
	right: 444px;
}

#u453-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 380px;
	right: 138px;
}

#u437-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 254px;
	right: 185px;
}

#u450
{
	z-index: 7;
	width: 289px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 297px;
	right: 168px;
}

#u443
{
	z-index: 18;
	width: 226px;
	background-color: transparent;
	position: fixed;
	top: 62px;
	right: 216px;
}

#u446-4
{
	z-index: 20;
	position: fixed;
	top: 136px;
	right: 331px;
}

#u454
{
	z-index: 6;
	width: 200px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 184px;
	right: 229px;
}

#u449-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 136px;
	right: 218px;
}

#u456-4
{
	z-index: 32;
	position: fixed;
	top: 136px;
	right: 100px;
}

#u432-4_img,#u446-4_img,#u456-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 1520px;
}

#page .verticalspacer
{
	clear: both;
}

