.version.contributors /* version checker */
{
	color: #0000E9;
	background-color: #05E981;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1029px;
	min-height: 429px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 9px 485px 62px 6px;
}

#u494
{
	z-index: 16;
	width: 193px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u469-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -264px;
}

#u501
{
	z-index: 18;
	width: 226px;
	background-color: transparent;
	position: fixed;
	top: 62px;
	right: 215px;
}

#u485-4
{
	z-index: 28;
	position: fixed;
	top: 136px;
	right: 444px;
}

#u503-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 136px;
	right: 331px;
}

#u482-4
{
	z-index: 24;
	position: fixed;
	top: 136px;
	right: 218px;
}

#u474-4
{
	z-index: 32;
	position: fixed;
	top: 136px;
	right: 99px;
}

#u485-4_img,#u482-4_img,#u474-4_img
{
	display: block;
	vertical-align: top;
}

#u491
{
	z-index: 6;
	width: 200px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 195px;
	right: 228px;
}

#u509
{
	z-index: 36;
	width: 289px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 218px;
	right: 688px;
}

#u511
{
	z-index: 37;
	width: 326px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 284px;
	right: 665px;
}

#u498-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 300px;
	right: 184px;
}

#u477
{
	z-index: 7;
	width: 289px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 342px;
	right: 167px;
}

#u514
{
	z-index: 38;
	width: 296px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 350px;
	right: 681px;
}

#u475-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 397px;
	right: 137px;
}

#u516-4
{
	z-index: 39;
	width: 244px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 416px;
	right: 721px;
}

#u479
{
	z-index: 17;
	width: 550px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 479px;
	margin-top: 1458px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1520px;
}

#page .verticalspacer
{
	clear: both;
}

