.version.index /* version checker */
{
	color: #00000E;
	background-color: #0F3B14;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1465px;
	min-height: 429px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 9px 49px 62px 6px;
}

#u230
{
	z-index: 82;
	width: 193px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u85-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -264px;
}

#pu94-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 13px;
}

#u94-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#u261
{
	z-index: 93;
	width: 226px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 647px;
}

#u80-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 99px;
	right: 188px;
}

#pu97-4
{
	width: 0.01px;
	margin-left: 14px;
}

#u97-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u274-4
{
	z-index: 103;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 531px;
}

#u271-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 644px;
}

#u273-4
{
	z-index: 99;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 757px;
}

#u326-4
{
	z-index: 107;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 876px;
}

#u274-4_img,#u273-4_img,#u326-4_img
{
	display: block;
	vertical-align: top;
}

#u83-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 174px;
	right: 120px;
}

#u242-4
{
	z-index: 84;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 30px;
	position: relative;
}

#u243-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u73
{
	z-index: 2;
	width: 262px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	text-indent: 0px;
	position: fixed;
	top: 250px;
	right: 199px;
}

#u98-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 31px;
	position: relative;
}

#u236
{
	z-index: 83;
	width: 108px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 326px;
	right: 276px;
}

#u99-13
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu220-4
{
	width: 0.01px;
	padding-bottom: 216px;
	margin-left: 1083px;
	margin-top: -314px;
}

#u220-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 572px;
	right: 149px;
}

#u219-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 474px;
	right: 196px;
}

#u215
{
	z-index: 73;
	width: 289px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 517px;
	right: 179px;
}

#u92
{
	z-index: 15;
	width: 200px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 387px;
	right: 240px;
}

#u100-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 68px;
	position: relative;
}

#u101-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u104-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 42px;
	position: relative;
}

#u105-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u114-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 26px;
	position: relative;
}

#u115-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	position: relative;
}

#u116-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 28px;
	position: relative;
}

#u117-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	position: relative;
}

#u248
{
	z-index: 92;
	width: 550px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 479px;
	margin-top: 313px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1520px;
}

#page .verticalspacer
{
	clear: both;
}

