.version.other_sites /* version checker */
{
	color: #0000FF;
	background-color: #FC7445;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1029px;
	min-height: 429px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 9px 485px 62px 6px;
}

#u546
{
	z-index: 16;
	width: 193px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u521-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 31px;
	left: 50%;
	margin-left: -264px;
}

#u553
{
	z-index: 18;
	width: 226px;
	background-color: transparent;
	position: fixed;
	top: 62px;
	right: 215px;
}

#u561-4
{
	z-index: 36;
	margin-left: 127px;
	margin-top: 51px;
	position: relative;
}

#u537-4
{
	z-index: 28;
	position: fixed;
	top: 136px;
	right: 444px;
}

#u555-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 136px;
	right: 331px;
}

#u534-4
{
	z-index: 24;
	position: fixed;
	top: 136px;
	right: 218px;
}

#u526-4
{
	z-index: 32;
	position: fixed;
	top: 136px;
	right: 99px;
}

#u567-4
{
	z-index: 44;
	margin-left: 127px;
	margin-top: 29px;
	position: relative;
}

#u561-4_img,#u537-4_img,#u534-4_img,#u526-4_img,#u567-4_img
{
	display: block;
	vertical-align: top;
}

#u543
{
	z-index: 6;
	width: 200px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 186px;
	right: 228px;
}

#u565-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-left: 15px;
	margin-top: 29px;
	position: relative;
}

#u550-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 273px;
	right: 184px;
}

#u529
{
	z-index: 7;
	width: 289px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 316px;
	right: 167px;
}

#u527-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 370px;
	right: 137px;
}

#u531
{
	z-index: 17;
	width: 550px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 479px;
	margin-top: 418px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1520px;
}

#page .verticalspacer
{
	clear: both;
}

