html {
    font-family: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", 'Helvetica Neue', 'Calibri', 'Helvetica', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #754f97;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.counter {
    display: none;
}

body {
    margin: 0;
}

@font-face {
    font-family: crown;
    src: url('crown.ttf');
}

crown {
    font-family: crown;
    font-size: 2em;
}

.crown {
    text-decoration: none;
    color: white;
    transition: color 0.15s ease-in;
}

.crown:hover {
    text-decoration: none;
    color: rgb(207, 207, 207);
    transition: color 0.15s ease-in;
}

.crownContainer {
    padding: 20px;
    position: absolute;
    opacity: 30%;
}

.headerArea {
    background-image: radial-gradient(circle, #8c64af, #2d0e44);
    text-align: center;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
}

.noselect {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.headerImage {
    max-height: 500px;
    max-width: 100%;
    margin: auto;
    display: block;
}

.headerText {
    font-size: 2em;
    color: white;
    margin: 20px 0 0 0;
    text-shadow: 0px 0px 5px rgb(255, 101, 240)
}

.textIntroArea {
    color: white;
    padding: 30px;
    background-color: #141414;
    transition: color 0.15s ease-in;
}

.textIntroArea a {
    color: #00b7ff;
    transition: color 0.15s ease-in;
}

.textIntroArea a:hover {
    color: #00b7ff73;
}

.appIcon {
    display: block;
    max-height: 100px;
    max-width: 100%;
    margin: auto;
    border-radius: 22.5%;
}

.productsArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    margin: auto;
}

.productEntry {
    padding: 50px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.371);
    border-radius: 70px;
    box-shadow: #14141474 0px 20px 30px;
}

.productTitle {
    margin: 0 0 10px 20px;
}

.productMetadata {
    display: flex;
}

.metadataLeft {
    margin: auto;
    flex-shrink: 0;
}

.metadataLeft a {
    text-decoration: none;
    color: black;
    transition: color 0.15s ease-in;
}

.metadataLeft a:hover {
    text-decoration: none;
    color: rgb(56, 87, 118);
    transition: color 0.15s ease-in;
}

.metadataRight {
    margin: auto;
    flex-grow: 1;
}

.metadataRight p {
    margin: 0 0 10px 20px;
}

.downloadButton {
    color: white;
    background-color: #672f98;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 1em;
    border: none;
}

.downloadButton:hover {
    color: white;
    background-color: #754f97;
    transition: background-color 0.15s ease-in;
    cursor: pointer;
}