<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>102 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>102</integer>
		<key>RandomUniqueIdentifier</key>
		<string>HcJXTEpEtvDffy6GQLQsRpCBUHorTz9ZaBkrQxysGZNhX8y7trcK41BjwK8KjYumzGsCXif73ORPT9UK2ykMttSkPUR48cmpyIM0PehhzEkIHWA92NiBOcp9rQEs535DtQxEO4fL8ymIFuKyffTh9ZKfDndXg1KW3TAM83wR0eAahZcE4gl7Qy8ZW2rCxZKnlcDVwxcOW69D0blCclL00y6uxq8iPwQqAAHdb53gUhgiJma9wPVmVr02lPEY0nLK</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>104 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>104</integer>
		<key>RandomUniqueIdentifier</key>
		<string>CNqRJDpnZckguUNyDZRZ6TaqAZpmB36PqE5RBw9iWoKI7rOIotQyh3FFVrL1WX2jZGafdQeASju8NPj6QWGO3IvkD4BMdk61cTIUrpV8uwj4jtNvd6U5EXxT3Jj7eTfOe7w96o276yB6d7JH6on4d2IX7vJqb14CPpVL724M6CpnSzprcmtUEMbcgHquzOA8pBgIGGlSlUWGaQhVJdJ76xvidC6DbflGP9gM11BKn6YvUn91c41kNqPLdzAqHRPa</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>106 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<true/>
		<key>ID</key>
		<integer>106</integer>
		<key>RandomUniqueIdentifier</key>
		<string>d7KZdKPZw8ntKUjaQjZiHC32aaQlWL1jQlYyYB385DRXfYMHqZyVfriIEn33RP2FPrp2qJ76onrBjk8CCiWHtaj3wSJg8j8nmc0mRrz4ap709I2JATZluP0yCFgzurhDaQZZkSxi644OVzZ82ruAE2Lvv1RrOuWBYInbp3OSkLzEQ5sEPUp3z7kOOzn6ve2WcYLgYFC7RES2TMT37K34vRQHJibVSVCbPrgMRMVKybaXUi3BOdNV1LK6x0f0fva8</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>108 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<false/>
		<key>Delivery</key>
		<false/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>108</integer>
		<key>RandomUniqueIdentifier</key>
		<string>qHIV7fBcR5LAvEidv5jopXImvgG7mG1Up7gfscf0Oe8R85gJU11QEndHfvrq20oA0AoaWVzeFbWCWronFSVedr81TKy87EQJYW75fKUXeYA1uF4JKEMbCW6JwwIvVenLGej0kKAWGepJqFfpjmVPOUd5ef8gav5PdrG6dZTahwSxlz3No9KkYCnta3uum3WQ32BOBv6PAq5MzrfeFaVYFEbeWSGOQ19ptKAuhiFYb8nxOy7OJXoZZQkKlZSvjGrJ</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>110 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<false/>
		<key>Delivery</key>
		<false/>
		<key>Flyers</key>
		<true/>
		<key>ID</key>
		<integer>110</integer>
		<key>RandomUniqueIdentifier</key>
		<string>PzlqHJqHS0C8TD70uH3T6pK3uijVddmi4iNYzbQVWhTHWv2C4TRB1QyFH40VEsgBMrzIqGWl9Hprg4jDu7TslXi2wwhKKxorBRXlVfdh19n0SZyZ3xnXX0jdBsJWUHaMjmV35jQK9CBvWVh2rVbHyxkzNrTnl0K9w9vbS1V5kASeylKbBdjVFLcTgH7OEQXZsW6GQra9TVoe60ij6MU427wl6Gf8F332teTlPpduJ01SmtXyacrZjBw6NA6uOTU5</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>112 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<false/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>112</integer>
		<key>RandomUniqueIdentifier</key>
		<string>roajekKszzmpxAQg5jheyo4VVxwzTzDnChzHB3aGqALwT3o2sqH2Cr7WcnC7vKUX1fwu5T7UK6MTpFkDvIEx7P9DeSzI4ek9TDRdzCBem8ALh0WMOrilwENz7xRHqjSletDxM9m331OCI3bSNXTkKxf6r011aRmtTpOxYbfayc5al7YW86JdbHrKXZM39YgK6nuvJiE1U8jU3DPJKqT7jE9MOz9aB0FQnBgqtfejaqp8JljOAQ3UKJEjSt81EcBX</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>114 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>114</integer>
		<key>RandomUniqueIdentifier</key>
		<string>DDAnlL99cETLBlOCvu9tkxBupuf93XGhf8Je0iyFKEK37p5XVBz2zlU638OFBwsTvHL7zfBNVBrXMRwgVAJsvClnyMyyx5nMC4FIpseb2CcwUqfG5vY9VzO3GAaaZWmypoiQrOcMP8RPI58JHx5nVAsYEKapJG0U2Px6g9AewStzmGihH3N9p7iQmyFSLdAdDjJoRsUGm8XRZdU3MefIdSU2hMiG6f9Ezp90DTzDDL9nSALBjRaRhtPWGW3ZrNcK</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<true/>
	</dict>
	<key>116 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>116</integer>
		<key>RandomUniqueIdentifier</key>
		<string>sLybAidGw0nWLHKYtpAM1vxRFZzTbgmtFN1LWFjOMvLUghg0gnkocXAXvP7UNbJBEnTJMvFvq1EA6CZ6v8FpwNIgkFUy0vjWJQ2Ha8c8khQJFKspArcHpRt1yIJJeUfZ79dxWHD9S0AswrBxxhY2SijAKrTZn7ktQFU3fBJ7e1hlJBerNBiv0oTaBjIqeIVSePJxN0a2koO6xlKJ3wX1Nuob64qbuHnuPIB0pLGEPsAWz96kFUQyksomHqmXIMmq</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>118 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>118</integer>
		<key>RandomUniqueIdentifier</key>
		<string>XWQVhtxVG2ij0HgACueiSOz9pmjHOOx80kdaGeBw1HgnK1bsPyv81F8YSyMpjFKqGNrILhZQ1Rpf6kR3UR40Rc8KzgM0cX4tiQnupsQABbGahWb8pX1UVQdLr5rdkDA1AyccYYqffItUbm8X88NT7DTYw9TZgGtPwocsq0mFP6FJWUUchO8X029jV1dYC1gUAdkQV7QKDLZhOaX170ztCbWry60YlJnwPduD5DvV4GfuVSZH1MVB8UzYydUtxTdB</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>120 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<false/>
		<key>Delivery</key>
		<false/>
		<key>Flyers</key>
		<true/>
		<key>ID</key>
		<integer>120</integer>
		<key>RandomUniqueIdentifier</key>
		<string>Oi91GtPDA6Z9lOGs1ZtqsV9Ogak23zGzeDgT5d3qVGzgu8khYppmFfkzREhMhhSLNKVfM2h8FRWqjFnDNA8xL0pN8vuzex7COC9CC2TW9PUgWKdWFpjeZ8yXw8Q2J3CdXLlUWoWox25V7BiRmJ2ZLJTqYTaeOobpKnl6FNc6tnER9BN32flTS89mrPGnuebY6JklSLMAEKwyv26yBTejgN17E2dPFNDgV94e6z6EvJNsI8lf1w7xRlbTBxEB4Gv8</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>122 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<false/>
		<key>Delivery</key>
		<false/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>122</integer>
		<key>RandomUniqueIdentifier</key>
		<string>lOKNQe9uISObBVHAEZHdPFR5gANGSV9sY1EPZ2b3UmGYhaAB2qXdErNz7SVqZligCK80n9aWm9na2AXdO12ki7v51akGabTchITVw10VDJntZWoznx24SDpfWdBUTaBALmUfjntJP9rdFy6bTeB3sUMNYmJhQBwODpeyt7mHRqXa7YIVXxopbXthKfUHqz2VDqiDZZ65rFHVzMiDWZ9u2kxHnoNYmKCBQI6tXMOfQnvNV539U7wGlUDN4sPNS0Eg</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>124 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>124</integer>
		<key>RandomUniqueIdentifier</key>
		<string>VXuQvHJH93j7FQOBHbSq7Ey6YODPZ3oV9z9Ojqzd0C48DOrywwMCyKp31ZzxSdfpCkElhJbRHjMy6dCUkYZJ5N2FeyBrRbf0TSt9rdI5oGHbR7WJrFbpDHLiYfcS5R3lRxLdqic9zm5vCj3r6tJpVZdGb7G1ePmt83MerpYpJSQZDWpdiP4vxnPD1eqBDoH90lPG6WYQ7y1qXDryaxuj61j2TcbtH8mAu0Y7Q4M2LNEg7M1iY9emabqLh8kewAsZ</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>126 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>126</integer>
		<key>RandomUniqueIdentifier</key>
		<string>INeXVji74wjoaY2oYxJ5IaQVDdAlEYnyU6Tdp9OAaGekbGf9HwG4yt8DtSs6FfFLLR5vB6tUEpM4EzxlG2dkpmnzqlfJm3UiTHai2FY8jNpQdNQ2kTWFWExlFFhK94wNSCNG0d3kH52LSAiKS5w1mZOkC7Fk3JWp16IAdfUpo6QmgPtYlH4pNOWqzCb7XXtEI52Bx4NGJi2Fmr8hhaZVz9SE7MCgtQBofI9pWTJOZqiOEvzh3pYvcZDV0zOXZBDk</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<true/>
	</dict>
	<key>128 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>128</integer>
		<key>RandomUniqueIdentifier</key>
		<string>PYvsXI4xBvVhl72AMC6d4fLoAmvdORrUIFZzc2TZ1uTW3EEKLYWNqQgIDUmidNivUuy3yCXDlReRwjc0SNMLx6Q0iznhGoq2IbVgWRX43xIA1jCm9pUhfr3FKeha1zc91jZvJ21Ksk8T0ITtzMhbcHmkZk11kOAC1MK3CT79HXUstjBhigIioqLOFQsXRcbzrMIr5st8v3zAPgvFrSLNnJiiSGsVpyA5rNkBmeUCh3j12YD2Jwjipb65CyWyPJMA</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>130 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>130</integer>
		<key>RandomUniqueIdentifier</key>
		<string>Rz1tmOZakh5WUKXugSgMioOK460DyAsjpJd9EH688VRrdh3mn3n5UdQDJzZjkqImwgAx53LFEGkpFCdCaJnWvYvE3DJp7nEuVBlHsFuapTXiwdj3fPMk6oPxuGRSavxGIPhcNf4AGfi0HXlnt6ogxYZGnBHlOwdHGkxWZpNiTZLdxfbK5BenXXQv3jIlDRkjsKnu9IvlOOsuOVlBJqmZPx2UVPz8ytvd54Eu1U31xXeVtaaF2ayfP6MjjoP5hKrP</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>132 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>132</integer>
		<key>RandomUniqueIdentifier</key>
		<string>n95cX6Uv6TFf52T6Mv3tXeTcozaIM8TiVEzIYSEJmww5CGfNP7P7VPqk7hribMFSvFh6zLAyfVBttF6FSts0BoPp5pVSCcUdqzSHsxNCm8ySVsBNWSC9xZeLKjbBEfaT3laPVGBHdM060n8yiwjx8B3BIb8gkAnWNFAIrcDmJ6NUYoDwxqMXbC4lYXWiwamq8AZnzoy89XNM0bPwEQGCukQzKo8h6irff33O3I0obzPG6KiN2g58jLnpw1V1WBr9</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
	<key>134 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>134</integer>
		<key>RandomUniqueIdentifier</key>
		<string>en8UsgQArNWAz9NP2zKU1wRvE6QBkrzOzD9AJWha8D89QZKm6fj6PEe5AbGOJyYKwqmerCzC2l1Vvp5OuAx7nT6wdI2K9Nzm3UPSovBFHQN7vaM4A34vBoi1uhFvdOb3D6Eqaa4SwcfSjquUegeL9VQb7bgywAdBD6maNiaeE0NpNd2liZmgTVKv2WD9XHfmP53aatv5qzCGxogDKk3dSUeoiOHSvytA1vLub8DLxAKByZr50bUuxvt8fuNwSbP7</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<true/>
	</dict>
	<key>136 Alexander St.</key>
	<dict>
		<key>Collection</key>
		<true/>
		<key>Delivery</key>
		<true/>
		<key>Flyers</key>
		<false/>
		<key>ID</key>
		<integer>136</integer>
		<key>RandomUniqueIdentifier</key>
		<string>QvCeNMEeL6CyUeIRGZTiEJomk4NlIV6T5xiCQ9ArwTUAiaKgKzTE2HxJNmFoGWsnB8LMrgl5qWXcpufXut1S3Txd7b0LwBzmTkUxG8moap1Yn5ABFB8viZj20YaLKQKJTaKq7F15ndAvI3sxY4y1EhecI89owgHERPoNRyWocdDRdd7PhUPUVG8skPSPzbz1tFg6tgShlXUnelG97C3TWWS2AIatFk0XouLk7W12lMevnVfnqUWJLOD4Z002qVBr</string>
		<key>Special</key>
		<string></string>
		<key>Vacation</key>
		<false/>
	</dict>
</dict>
</plist>
