@font-face
{
	font-family: crown; 
	src: url('crown.ttf');
} 

html
{    
	font-family: -apple-system, ".SFNSDisplay-Regular", 'Helvetica Neue', 'Calibri', 'Helvetica', sans-serif;
	font-weight: 400;
	
}

body
{
	margin: 0;
}

#content
{
	margin: 20px;
}

h1
{
	font-weight: 300;
	font-size: 2em;
	padding:15px;
}
	
crown
{
	font-family: crown;
	font-size: 1.25em;
}

	
.boxed {
  border: 10px solid black;
  padding: 15px;
}

.icon {
  width: 130px;
  height: 130px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
}






/* nav stuff */
nav 
{
	width:100%;
	display:block;
	background: #B8B8B8;
	text-align: center;
	opacity: 1.0;
}

nav a
{
	color: #ffffff;
	text-decoration: none;
	padding: 15px 25px;
	position: relative;
	font-family: -apple-system, ".SFNSDisplay-Regular", 'Helvetica Neue', 'Calibri', 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 14px;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
	line-height: 3em;
}

nav a:hover
{
	color: #4C4C4C;
}
nav a:hover:before
{
	width: 100%;
}


/* container stuff */
#container
{
	display:block;
	position:middle;
	border: 1px solid #bbb;
	border-radius:5px;
	height:2em;
	position:relative;
	margin: auto ;
	min-width:300px;
	width:20%;
	background-color: #FFFFFF;
	
	-webkit-transition: background-color .25s;
	-moz-transition: background-color .25s;
	-ms-transition: background-color .25s;
	-o-transition: background-color .25s;
	transition: background-color .25s;
	
}
#container:hover
{
	background-color: #F0F0F0;
}

#containerContent
{
	display:inline-block
}

#containerContent a
{
	text-decoration:none;
	line-height: 2em;
	color: black;
	font-size:1em;
}



.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
} 





@media (max-width: 1080px) 
{
  .button {display:flex;justify-content:center;align-items:center;padding:10px;
}
