html{
    margin-right: 20px;
    margin-left: 20px;
    
	font-family: -apple-system, ".SFNSDisplay-Regular", 'Helvetica Neue', 'Calibri', 'Helvetica' sans-serif;
	font-weight: 400;
    }

h1{
	font-weight: 300;
	}


