html{
	margin-right: 20px;
    margin-left: 20px;
    
	font-family: -apple-system, ".SFNSDisplay-Regular", 'Helvetica Neue', 'Calibri', 'Helvetica', sans-serif;
	font-weight: 400;
    }

h1{
	font-weight: 300;
	letter-spacing: 7px;
	}
	
	
@media (max-width: 640px) {
    html { font-size: 4em; }
}
@media (max-width: 750px) {
    html { font-size: 3em; }
}
@media (max-width: 1080px) {
    html { font-size: 2em; }
}
@media (min-width: 1080px) {
    html { font-size: 1em; }
}