<div class="container">
    <div class="row social" style="text-align: center;">
      <div class="col-xs-2" style="cursor: pointer; padding-top: 15px; padding-bottom: 15px;" onclick="window.open('https://twitter.com/JustinAlexP');">
          <i class="fa fa-twitter" aria-hidden="true" style="font-size: 2em; color: #55ACEE;"></i>
      </div>
      <div class="col-xs-2" style="cursor: pointer; padding-top: 15px; padding-bottom: 15px;" onclick="window.open('https://www.snapchat.com/add/sn0wch1ld');">
          <i class="fa fa-snapchat" aria-hidden="true" style="font-size: 2em; color: #FFFC00;"></i>
      </div>
      <div class="col-xs-2" style="cursor: pointer; padding-top: 15px; padding-bottom: 15px;" onclick="window.open('https://github.com/sn0wch1ld');">
          <i class="fa fa-github" aria-hidden="true" style="font-size: 2em; color: #d6d6d6;"></i>
      </div>
      <div class="col-xs-2" style="cursor: pointer; padding-top: 15px; padding-bottom: 15px;" onclick="window.open('https://soundcloud.com/jponthetrack');">
          <i class="fa fa-soundcloud" aria-hidden="true" style="font-size: 2em; color: #FF5500;"></i>
      </div>
      <div class="col-xs-2" style="cursor: pointer; padding-top: 15px; padding-bottom: 15px;" onclick="window.open('https://www.reddit.com/r/sn0wch1ld/');">
          <i class="fa fa-reddit-alien" aria-hidden="true" style="font-size: 2em; color: #FF4500;"></i>
      </div>
      <div class="col-xs-2" style="cursor: pointer; padding-top: 15px; padding-bottom: 15px;" onclick="window.open('https://www.youtube.com/channel/UCWPdgICb5oSWVoMNNNSYfgg');">
          <i class="fa fa-youtube" aria-hidden="true" style="font-size: 2em; color: #ff3d3d;"></i>
      </div>
    </div>
</div>
