.version.anti_bullying /* version checker */
{
	color: #0000F6;
	background-color: #674E67;
}

@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 566px;
	min-height: 533.9982436416076px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 21px 29px 15.001756358392413px 45px;
}

#u725-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 24px;
	position: relative;
}

#pu705
{
	width: 0.01px;
	margin-left: 176px;
	margin-top: 45px;
}

#u705
{
	z-index: 12;
	width: 193px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u740
{
	z-index: 44;
	width: 226px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#pu744-4
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 5px;
}

#u744-4
{
	z-index: 54;
	position: relative;
	width: 113px;
	margin-right: -10000px;
}

#u742-4
{
	z-index: 46;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 113px;
}

#u743-4
{
	z-index: 50;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 226px;
}

#u745-4
{
	z-index: 58;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 344px;
}

#u744-4_img,#u742-4_img,#u743-4_img,#u745-4_img
{
	display: block;
	vertical-align: top;
}

#pu716
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 31px;
}

#u716
{
	z-index: 6;
	width: 343px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u778
{
	z-index: 63;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
}

#u732-30
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-left: 9px;
	margin-top: 23px;
	position: relative;
}

#u776
{
	z-index: 62;
	width: 301px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 124px;
	margin-top: 44px;
	position: relative;
}

#u713
{
	z-index: 13;
	width: 550px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u719-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-left: 160px;
	margin-top: 2px;
	position: relative;
}

#u726
{
	z-index: 7;
	width: 289px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 130px;
	margin-top: 2px;
	position: relative;
}

body
{
	position: relative;
	min-width: 640px;
}

#page .verticalspacer
{
	clear: both;
}

