@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 617px;
	min-height: 482.22141567657854px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 16px 12px 71.77858432342146px 11px;
}

#u185-6
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 59px;
	position: relative;
}

#pu183-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 61px;
	position: relative;
}

#u183-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 45px;
}

#u184-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
}

#u179
{
	z-index: 2;
	width: 449px;
	min-height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	text-indent: 0px;
	margin-left: 80px;
	margin-top: 27px;
	position: relative;
}

#u181
{
	z-index: 3;
	width: 185px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 212px;
	margin-top: 27px;
	position: relative;
}

#pu186
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 25px;
	position: relative;
}

#u186
{
	z-index: 18;
	width: 343px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u188-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
}

#u189-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
}

#pu190-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 37px;
	position: relative;
}

#u190-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u191-13
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: -1px;
}

#u192-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 77px;
	position: relative;
}

#u193-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u194-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 17px;
	position: relative;
}

#u195-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
}

#u196-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u197-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
}

#u198-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 48px;
	position: relative;
}

#u199-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

