@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.7196593181857px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: 16px;
	margin-bottom: 71px;
}

#u185-6
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 46px;
	position: relative;
}

#u183-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 38px;
	margin-top: 35px;
	position: relative;
}

#u184-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 15px;
	position: relative;
}

#u179
{
	z-index: 2;
	width: 262px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	text-indent: 0px;
	margin-left: 59px;
	margin-top: 49px;
	position: relative;
}

#u181
{
	z-index: 3;
	width: 108px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 135px;
	margin-top: 60px;
	position: relative;
}

#u186
{
	z-index: 18;
	width: 200px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 89px;
	margin-top: 14px;
	position: relative;
}

#u188-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 33px;
	position: relative;
}

#u189-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	position: relative;
}

#u190-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 66px;
	position: relative;
}

#u191-13
{
	z-index: 31;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u192-6
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 69px;
	position: relative;
}

#u193-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	position: relative;
}

#u194-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 42px;
	position: relative;
}

#u195-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	position: relative;
}

#u196-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 26px;
	position: relative;
}

#u197-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	position: relative;
}

#u198-6
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 28px;
	position: relative;
}

#u199-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

