.version.other_sites /* version checker */
{
	color: #000001;
	background-color: #DAE512;
}

@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 550px;
	min-height: 535px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 21px 48px 14px 42px;
}

#u623-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 27px;
	position: relative;
}

#u595
{
	z-index: 12;
	width: 193px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 181px;
	margin-top: 45px;
	position: relative;
}

#u747
{
	z-index: 26;
	width: 226px;
	background-color: transparent;
	margin-left: 165px;
	position: relative;
}

#pu751-4
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 5px;
}

#u751-4
{
	z-index: 36;
	position: relative;
	width: 113px;
	margin-right: -10000px;
}

#u749-4
{
	z-index: 28;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 113px;
}

#u750-4
{
	z-index: 32;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 226px;
}

#u752-4
{
	z-index: 40;
	position: relative;
	width: 113px;
	margin-right: -10000px;
	left: 344px;
}

#u604
{
	z-index: 6;
	width: 343px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 104px;
	margin-top: 21px;
	position: relative;
}

#u627-4
{
	z-index: 14;
	margin-left: 158px;
	margin-top: 46px;
	position: relative;
}

#u629-4
{
	z-index: 22;
	margin-left: 158px;
	margin-top: 29px;
	position: relative;
}

#u751-4_img,#u749-4_img,#u750-4_img,#u752-4_img,#u627-4_img,#u629-4_img
{
	display: block;
	vertical-align: top;
}

#u628-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-left: 46px;
	margin-top: 29px;
	position: relative;
}

#u588
{
	z-index: 13;
	width: 550px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 347px;
	position: relative;
}

#u608-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-left: 159px;
	margin-top: 6px;
	position: relative;
}

#u597
{
	z-index: 7;
	width: 289px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 133px;
	position: relative;
}

body
{
	position: relative;
	min-width: 640px;
}

#page .verticalspacer
{
	clear: both;
}

