<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link href="{{ site.url }}/bootstrap.css" rel="stylesheet">
    <link href="{{ site.url }}/royal.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="{{ site.url }}/bootstrap.js"></script>
  	<script src="{{ site.url }}/npm.js"></script>
  	<script src="https://use.fontawesome.com/a2f6d19e58.js"></script>
  </head>
  <body style="padding-top: 50px">
    {% include navigation.html %}

    <div class="jumbotron text-center" style="margin-bottom: 0px;">
      <h1>Tutorial</h1>
      <h3>{{ page.title }}</h3>
    </div>

    <div style="text-align: left; background-color: #141414">
      <div class="container">
        {{ content }}
        <br>
      </div>
    </div>

    <!-- Social Media-->
    {% include social.html %}
  </body>
  <footer style="padding-top: 10px; padding-bottom: 10px; background-color: #141414; width:100%;">
		{% include footer.html %}
	</footer>
</html>
