	html{
    
		font-family: -apple-system, ".SFNSDisplay-Regular", 'Helvetica Neue', 'Calibri', 'Helvetica', sans-serif;
		font-weight: 400;
    }
    
    body
    {
    	padding:0
    }
    
    #content
	{
		margin: 20px;
	}

	h1{
		font-weight: 300;
		h1 { font-size: 2em; }
	}




	#sources {
    	word-wrap: break-word;
	}
	
	
	
	

	
	/* NAV STUFF */

@font-face {
   font-family: crown; 
   src: url('../crown.ttf');
} 

nav {
  background: #B8B8B8;
  width: 100%;
  text-align: center;
  opacity: 1.0
  margin: auto;

}



crown{
	font-family: crown;
	font-size: 1.25em;
	}



nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
nav ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  
}
nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  
}
nav.align-right ul li {
  float: right;
}
nav.align-center ul {
  text-align: center;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: -apple-system, ".SFNSDisplay-Regular", 'Helvetica Neue', 'Calibri', 'Helvetica', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
nav ul li a:hover {
  color: #4C4C4C;
}
nav ul li a:hover:before {
  width: 100%;
}
nav ul li.active a:hover {
  color: #4C4C4C;
}
nav ul li.active a:hover:before {
  width: 100%;
}


nav ul li {
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
nav ul li.last > a:after,
nav ul li:last-child > a:after {
  display: none;
}
nav ul li.active a {
  color: #ffffff;
}
nav ul li.active a:before {
  width: 100%;
}
nav.align-right li.last > a:after,
nav.align-right li:last-child > a:after {
  display: block;
}
nav.align-right li:first-child a:after {
  display: none;
}




@media screen and (max-width: 1080px) {
  nav ul li {
    float: none;
    display: run-in;
  }
  nav ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em
  }
  nav ul li.last > a,
  nav ul li:last-child > a {
    border: 0;
  }
  nav ul li a:after {
    display: none;
  }
  nav ul li a:before {
    display: none;
  }
}

	
	
	
	
}
