@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 728px;
	min-height: 981px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 8px 20px 35px;
}

#u144-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 81px;
	position: relative;
}

#u142-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 354px;
	margin-top: 38px;
	position: relative;
}

#u143-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-left: 286px;
	margin-top: 16px;
	position: relative;
}

#pu138
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 10px;
	position: relative;
}

#u138
{
	z-index: 2;
	width: 262px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	text-indent: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 374px;
}

#u147-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u148-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#ppu140
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 54px;
	position: relative;
}

#pu140
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 405px;
}

#u140
{
	z-index: 3;
	width: 108px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 46px;
	position: relative;
}

#u145
{
	z-index: 16;
	width: 200px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-top: 15px;
	position: relative;
}

#u149-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u150-13
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: -1px;
}

#pu151-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 51px;
	position: relative;
}

#u151-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u152-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u153-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 43px;
	position: relative;
}

#u154-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
}

#u155-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 25px;
	position: relative;
}

#u156-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
}

#u157-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 29px;
	position: relative;
}

#u158-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u214-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	margin-left: 237px;
	margin-top: 19px;
	position: relative;
}

#pu210
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u210
{
	z-index: 74;
	width: 287px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u212
{
	z-index: 75;
	width: 300px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

#page .verticalspacer
{
	clear: both;
}

